{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid" id="carousel-container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background-colour carousel-text">
                <h1>The Record Bloke</h1>
                <p>A community to help find vinyl records</p>
                <a href="{% url 'products' %}">
                    <button class="btn btn-black rounded-0">Shop Now!</button>
                </a>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/jamakassi-wejxKZ-9IZg-unsplash.jpg' %}" alt="...">
                <h1 id="overlay-text"><span>The Summer Capital of the Philippines<br />Baguio City</span></h1>
            </div>
            <div class="carousel-item">
                <img src="..." alt="...">
            </div>
        </div>
    </div>
</div>

<!--------Footer--------->
<footer class="container-fluid" id="footer">
    <div class="row text-center">
        <div class="col-4">
            <a href="">
                <i class="fab fa-4x fa-facebook"></i>
            </a>
        </div>
        <div class="col-4">
            <a href="">
                <i class="fab fa-4x fa-instagram-square"></i>
            </a>
        </div>
        <div class="col-4">
            <a href="">
                <i class="fab fa-4x fa-twitter-square"></i>
            </a>
        </div>
    </div>

</footer>
{% endblock %}