<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}" id="all-products">All Products <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="all-vinyl" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vinyl
        </a>
        <div class="dropdown-menu" aria-labelledby="all-vinyl">
          <a class="dropdown-item" href="#">House</a>  
          <a class="dropdown-item" href="#">Deep House</a>
          <a class="dropdown-item" href="#">Electro</a>
          <a class="dropdown-item" href="#">Techno</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="all-djequipment" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dj Equipment
        </a>
        <div class="dropdown-menu" aria-labelledby="all-djequipment">
          <a class="dropdown-item" href="#">Cleaning Vinyl Solutions</a>  
          <a class="dropdown-item" href="#">Cartridges</a>
          <a class="dropdown-item" href="#">Vinyl Storage</a>
          <a class="dropdown-item" href="#">Turntables paraphernalia</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="all-clothing" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clothing
        </a>
        <div class="dropdown-menu" aria-labelledby="all-clothing">
          <a class="dropdown-item" href="#">Hoodies</a>  
          <a class="dropdown-item" href="#">T-Shirts</a>
          <a class="dropdown-item" href="#">Caps</a>
        </div>
      </li>
      
    </ul>
</div>